# Session Encryption Key
SESSION_SECRET=compass-legal-secret-2026

# Firebase Credentials (Optional if firebase-applet-config.json is included in repo)
FIREBASE_PROJECT_ID=
FIREBASE_APP_ID=
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_FIRESTORE_DATABASE_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_MEASUREMENT_ID=
FIREBASE_OAUTH_CLIENT_ID=
FIREBASE_RECAPTCHA_SITE_KEY=
